<%- include ('header', {pagetitle: 'Dog list'}) -%>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Kutyák</h2>
                <table class="table table-stripped table-bordered">
                    <tr>
                        <th>
                            Név
                        </th>
                        <th>
                            Kor
                        </th>
                        <th>
                            Faj
                        </th>
                        <th>
                            Elfogyasztott eledelek száma
                        </th>
                        <th>
                            &nbsp;
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Buksi
                        </td>
                        <td>
                            5
                        </td>
                        <td>
                            puli
                        </td>
                        <td>
                            8
                        </td>
                        <td>
                            <a href="/" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                            <a href="/dogdetails.html"><i class="far fa-edit"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Beethoven
                        </td>
                        <td>
                            8
                        </td>
                        <td>
                            bernárthegyi
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            <a href="/" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                            <a href="/dogdetails.html"><i class="far fa-edit"></i></a>
                        </td>
                    </tr>
                </table>
                <br/>
            </div>
            <div class="col-11" align="right">
                <a href="/neweditdog.html"><i class="fas fa-plus-circle fa-3x"></i></a>
            </div>
        </div>
    </div>
    <%- include ('footer') -%>